html {
    font-family: monospace;
}

body {
    box-sizing: content-box;
    background-color: lightgoldenrodyellow;

    width: 100%;
    height:100%;
}


body .container {
    width: 35rem;
    height: 50rem;

    border: 1px solid sandybrown;
    background-color: white;
    margin: 5% auto auto auto;

    transition: 0.5s;
    border-radius: 20px;
}

.container:hover {
    box-shadow: 1px 1px 0 1px rgb(85, 87, 78);
}

.upside_bar {    
    background-color: darkorange;
    height: 3rem;
    padding-top: 0.5rem;

    text-align: center;
    font-size: 1.5rem;

    /*한 번에 top의 radius를 지정하는 방법???*/
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.pic_and_about {
    width: 100%;
    height: 40%;

    margin-left: 5%;
    margin-right: auto;
    margin-top : 3%;
}

.pic_and_about:after {
    clear: both;
    display: block;
    content: '';
}

#profile_pic {
    float: left;

    width: 40%;
    max-width: 100%;
    max-height: 100%;

    border-style: solid;
    border-width: 0.5px;
}

.pic_and_about .about_box {
    float: left;
    width: auto;
    height: 100%;
}

#about_list {
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;

    padding-left: 3rem;
}

#link_github {
    color:green;
}
#link_github:hover {
    cursor: crosshair;
}
#link_github:visited {
    color: greenyellow;
}

.article {
    height : 32%;

    padding: 1rem 1rem 1rem 1rem;
    margin : 1rem 1rem 0.5rem 1rem;
    border-style: groove;
}

.rate_and_contact {
    width: 100%;
    height: auto;

    margin-top : 0.5rem;
    margin-bottom: 3%;
}

.rate_and_contact:after {
    clear: both;
    display: block;
    content: ''
}

#subtitle_rate_me {
    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: 0.3rem;

    color: tomato;
}

#rate_me {
    float: left;
    margin-top: 0.2px;
    margin-left: 0.9rem;
}

#rate_me > button {
    background-color: lightsalmon;
    color: white; 
}

#rate_me > button:active {
    background-color: orangered;
}

#contact {
    float: left;
    margin-left: 1rem;
}

#contact > p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0.1rem;
}

#contact > p:hover {
    color: firebrick
}